@charset "utf-8";
/* CSS */

body {
  background-color: #DCDCDC;
  text-align : center;
}

.button {
  display: inline-block;
  margin: 1em;
  padding: 0.75em 1em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
  align-content: center;
  cursor: pointer;
}

.linkButton {
  display: inline-block;
  margin: 1em;
  padding: 0.5em 0.75em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
  align-content: center;
  cursor: pointer;
  font-weight: bold;
}

.resume {
  display: none;
  text-align: left;
  margin: 1em 0;
}

.active  {
  background-color: #333333;
  color: whitesmoke;
}

.info {
  display: none;
}

h3 {
  line-height: 0.7;
}

#panel, #projects {
  padding: 1em;
  text-align: center;
  background-color: #5db344;
  border: solid 0.1em #c3c3c3;
  display: none;
  width: 75%;
  margin: auto;
}

#projects {
  text-decoration: underline;
}
