@charset "utf-8";
/* CSS Document */

body {
  background-color: #DCDCDC;
  text-align : center;
}

.button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

.resume {
  display: none;
  text-align: left;
  margin: 1em 0;
}

.active  {
  background-color: #333333;
  color: whitesmoke;
}