<div class="top">
    <a href="#about" class="link">
        <span>About</span>
    </a>
    <a href="#experience" class="link">
        <span>Experience</span>
    </a>
    <a href="#contact" class="link">
        <span>Contact</span>
    </a>
</div>

<div class="video-container">
    <video src="assets/mixkit-clouds-and-blue-sky-2408.mp4" type="video/mp4" loop autoplay [muted]="true" id="video"></video>
    <h1 class="center-name above">NORAN DIACONU</h1>
    <h3 class="center-title above">Angular Software Developer</h3>
</div>

<div class="section" id="about">
    <div *ngIf="aboutVisible" [@fade]>
        <h2 class="center">About Me</h2>
        <div class="center">Experienced developer with a demonstrated history of working in the computer software industry.</div>
        <div class="center">Fluent in Romanian with a working proficiency in Spanish.</div>
        <div class="flex-50-2">
            <div class="about">
                <div class="skills">
                    <div class="hexagon" *ngIf="angularVisible" [@slide-right]>
                        <div class="center-skill">Angular</div>
                    </div>
                    <div class="hexagon" *ngIf="javaVisible" [@slide-right]>
                        <div class="center-skill">Java</div>
                    </div>
                    <div class="hexagon" *ngIf="htmlVisible" [@slide-right]>
                        <div class="center-skill">HTML</div>
                    </div>
                    <div class="hexagon" *ngIf="scssVisible" [@slide-right]>
                        <div class="center-skill">SCSS</div>
                    </div>
                    <div class="hexagon" *ngIf="javascriptVisible" [@slide-right]>
                        <div class="center-skill">JavaScript</div>
                    </div>
                    <div class="hexagon" *ngIf="nodeVisible" [@slide-right]>
                        <div class="center-skill">Node.js</div>
                    </div>
                    <div class="hexagon" *ngIf="sqlVisible" [@slide-right]>
                        <div class="center-skill">SQL</div>
                    </div>
                    <div class="hexagon" *ngIf="educationalVisible" [@slide-right]>
                        <div class="center-skill">Educational Technology</div>
                    </div>
                    <div class="hexagon" *ngIf="technicalVisible" [@slide-right]>
                        <div class="center-skill">Technical Support</div>
                    </div>
                </div>
            </div>
            <img src="assets/20161018_184702.jpg" class="selfie" />
        </div>
    </div>
</div>

<div class="section" id="experience">
    <div *ngIf="experienceVisible" [@fade]>
        <h2 class="center">Experience</h2>
        <div class="flex-50">
            <div class="oneCard">
                <div class="oneCard__side oneCard__front">
                    <h3 class="center">Work Experience</h3>
                </div>
                <div class="oneCard__side oneCard__back">
                    <div class="center">
                        <a (click)="toggle()">
                            <h3>View here</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="oneCard">
                <div class="oneCard__side oneCard__front">
                    <h3 class="center">Projects</h3>
                </div>
                <div class="oneCard__side oneCard__back">
                    <div class="center">
                        <a href="https://github.com/norandiaconu" target="_blank">
                            <h3>View GitHub</h3>
                        </a>
                    </div>
                </div>
            </div>
            <div class="oneCard">
                <div class="oneCard__side oneCard__front">
                    <h3 class="center">Education</h3>
                </div>
                <div class="oneCard__side oneCard__back">
                    <div class="center2">
                        <h3 class="margin2">Appalachian State</h3>
                        <h3 class="margin2">University</h3>
                        <h3 class="margin2">(2009)</h3>
                        <div>&nbsp;</div>
                        <h4 class="margin2">Bachelor of Science</h4>
                        <h5 class="margin2">Computer Science</h5>
                        <h5 class="margin2">Minor - Mathematics</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="display" [@fade]>
    <a (click)="toggle()" class="top-right">
        <img src="assets/cross.svg" />
    </a>
    <div class="position">
        <h4 class="no-margin">Angular Application Developer</h4>
        <h5 class="no-margin">Aflac</h5>
        <h6 class="no-margin">Current</h6>
    </div>
    <div class="position">
        <h4 class="no-margin">Angular Developer</h4>
        <h5 class="no-margin">Empowered Benefits, LLC [acquired by Aflac in 2022]</h5>
        <h6 class="no-margin">Feb 2021 - Jan 2022</h6>
    </div>
    <div class="position">
        <h4 class="no-margin">Java Developer</h4>
        <h5 class="no-margin">Empowered Benefits, LLC [acquired by Aflac in 2022]</h5>
        <h6 class="no-margin">Oct 2019 - Feb 2021</h6>
    </div>
    <div class="position">
        <h4 class="no-margin">Software Developer</h4>
        <h5 class="no-margin">RapidCourt</h5>
        <h6 class="no-margin">Oct 2017 - Sept 2019</h6>
    </div>
    <div class="position">
        <h4 class="no-margin">IT Manager</h4>
        <h5 class="no-margin">Bright Audio Video</h5>
        <h6 class="no-margin">Jan 2017 - Sept 2017</h6>
    </div>
    <div class="position">
        <h4 class="no-margin">Classroom Support Technician</h4>
        <h5 class="no-margin">Appalachian State University</h5>
        <h6 class="no-margin">Jul 2013 - Dec 2016</h6>
    </div>
</div>

<div class="section" id="contact">
    <div id="contacts" *ngIf="contactVisible" [@fade]>
        <h2 class="center">Contact</h2>
        <a href="mailto: norandiaconu@gmail.com" class="oneContact">
            <img src="https://icomoon.io/iconsabf18a1/4/299.svg" alt="Gmail logo" class="logo" />
            <h3>Email</h3>
        </a>
        <a href="https://www.linkedin.com/in/noran-diaconu" target="_blank" class="oneContact">
            <img src="https://icomoon.io/iconsabf18a1/4/456.svg" alt="LinkedIn logo" class="logo" />
            <h3>LinkedIn</h3>
        </a>
    </div>
</div>

<footer>
    <a href="#">
        <img src="assets/circle-up.svg" />
    </a>

    <div class="overlay" *ngIf="displayCredits" [@fade]>
        <a (click)="toggleCredits()" class="top-right">
            <img src="assets/cross.svg" />
        </a>
        <div>Credits to mixkit.co for the video and icomoon.io for the icons</div>
    </div>
    <a (click)="toggleCredits()">
        <h3>Credits</h3>
    </a>
</footer>
