/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a2433;
    color: #ffd717;
    font-family: "Comfortaa", cursive;
    margin: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
